@model Assignment.Models.Book

<div class="container col-md-6 text-center mt-3">
    <form class="card p-3 bg-light" asp-controller="Book" asp-action="Edit" method="post">
        <h3 class="text text-primary">Edit a book</h3>
        <div class="form-group">
            <label asp-for="Title" class="text text-success"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="text text-success"></label>
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="text text-success"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="text text-success"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AuthorId" class="text text-success"></label>
            <select asp-for="AuthorId" class="form-control" asp-items="@(new SelectList(ViewBag.Authors,"Id","Name"))">
                <option>Select one</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="text text-success"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))">
                <option>Select one</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Edit" />
        </div>
    </form>
</div>