@model ICollection<Request>


<div class="container text-center mt-3">

    <table class="table table-bordered">
        <tr>
            <th colspan="3" class="h3 bg-light text-success">Request List</th>

        </tr>
        <tr>
            <th>Request Id</th>
            
            <th>Category name</th>

            <th>Action</th>
        </tr>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Id</td>
                
                <td>@request.CategoryName</td>
                <td>
                    <form asp-controller="Category" asp-action="Create" method="post">
                        <input type="hidden" value="@request.CategoryName" name = "name" class="form-control" />
                        <input class="btn btn-success" type = "submit" value = "Accept"/>
                    </form>
                    
                    <a class="btn btn-danger" asp-controller="Request" asp-action="Delete" asp-route-id="@request.Id"
                   onclick="    return confirm('Are you sure to delete this request ?');">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </table>
</div>


