@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >WELCOME TO HOANG GIA </h1>
    <h1>BOOK STORE </h1>
    <img src="http://1.bp.blogspot.com/-sW3HksSmY4Q/Wkn3BeMsWtI/AAAAAAAAH6o/xMJX39SEslUe0wI5D17qe78Ew8bn3RZwwCK4BGAYYCw/s1600/Hoang%2BGia%2BBookstore.jpg">

</div>
